<script type="text/javascript">
var oTable; var tid1; var tid2; var doRefresh = false; var stopping = false; var starting = false;
$(document).ready( function() {
  displayRefreshTime();
  oTable = $('#result').dataTable( {
    "sServerMethod": "POST",
    "fnServerData": function ( sSource, aoData, fnCallback ) {
      $.getJSON( sSource, aoData, function (json) {
        fnCallback(json.datatables)
        $('.tiptip').tipTip();
        displayRefreshTime();
        checkRights();
        installContextMenu();
        installModal();
      } );
    },
    "sDom":         'r<"clear">Cft',
    "bProcessing":  true,
    "sAjaxSource":  '/mx/collectors2.html',
    "bPaginate":    false,
    "bStateSave":   true,
    "sScrollY":     "800px",
    "sScrollX":     "100%",
    "aaSorting":    [[1,'asc']],

    "aoColumnDefs": [
      { "fnRender": function ( o, val ) {
          return '<a class="tiptip" href="#" title="">' + o.aData[0] + '</a>';
        }, "aTargets": [ 0 ] },

      { "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
          if ( sData == "running" ) {
            $(nTd).css('background-color', '#70C070')
          }
          else if ( sData == "disabled" ) {
            $(nTd).css('background-color', '#C0C0C0')
          }
          else {
            $(nTd).css('background-color', '#FF9900')
          }
        }, "aTargets": [4] },

      { "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
          heatMapColor( nTd, sData, "<% $max_percent_cpu %>" );
        }, "aTargets": [9] },

      { "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
          heatMapColor( nTd, sData, "<% $max_percent_mem %>" );
        }, "aTargets": [10] },

      { "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
          heatMapColor( nTd, sData, "<% $max_vsize %>" );
        }, "aTargets": [11] },

      { "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
          heatMapColor( nTd, sData, "<% $max_cpusec %>" );
        }, "aTargets": [13] },

      { "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
          heatMapColor( nTd, sData, "<% $max_lwp %>" );
        }, "aTargets": [14] },

      { "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
          heatMapColor( nTd, sData, "<% $max_fh %>" );
        }, "aTargets": [15] },

      { "sClass": "center",       "aTargets": [ 2,3,4,6,7,8 ] },
      { "sClass": "ralign",       "aTargets": [ 1,9,10,11,12,13,14,15 ] },

      { "sWidth": "40px",         "aTargets": [ 7 ] },
      { "sWidth": "50px",         "aTargets": [ 1,6 ] },
      { "sWidth": "60px",         "aTargets": [ 2,9,10,13,14,15 ] },
      { "sWidth": "90px",         "aTargets": [ 3,4,11,12 ] },
      { "sWidth": "100px",        "aTargets": [ 5 ] },
      { "sWidth": "160px",        "aTargets": [ 8 ] },
      { "sWidth": "190px",        "aTargets": [ 0 ] },

      { "bUseRendered": false,    "aTargets": [ 0 ] },

      { "sType": "formatted-num", "aTargets": [ 9,10,11,12,13,14,15 ] },

      { "asSorting": [ "desc", "asc" ], "aTargets": [ 9,10,11,12,13,14,15 ] }
    ]
  } );

  installHover();

  $('table#result tbody tr').live( "click", function() {
    $(this).toggleClass('row_selected');
  } );

  $('#refresh').live( "click", function() {
    oTable.fnReloadAjax();
  } );

  $('#select').live( "click", function() {
    $('table#result tbody tr').addClass('row_selected');
  } );

  $('#unselect').live( "click", function() {
    $('table#result tbody tr').removeClass('row_selected');
  } );

  $('#stop_selected').live( "click", function() {
    var collectors = selectedCollectors();

    if ( collectors.length == 0 ) {
      jAlert('No collectors selected.', 'Stop Collectors');
      return;
    }

    jConfirm('Number of collectors selected: ' + collectors.length + '. Are you sure?', 'Stop Collectors', function(r) {
      if ( r == true ) {
        $('#jqmTitleText').text( 'stop collectors' );
        $('#modalWindow').jqmShow();
        $('#jqmContent').css( 'width', '600px' );
        $('#jqmContent').css( 'height', '200px' );
        $('.jqmWindow').css( 'display', 'block' );
        stopping = true;
        stopCollectors( collectors );
      }
    } );
  } );

  $('#start_selected').live( "click", function() {
    var collectors = selectedCollectors();

    if ( collectors.length == 0 ) {
      jAlert('No collectors selected.', 'Start Collectors');
      return;
    }

    jConfirm('Number of collectors selected: ' + collectors.length + '. Are you sure?', 'Start Collectors', function(r) {
      if ( r == true ) {
        $('#jqmTitleText').text( 'start collectors' );
        $('#modalWindow').jqmShow();
        $('#jqmContent').css( 'width', '600px' );
        $('#jqmContent').css( 'height', '200px' );
        $('.jqmWindow').css( 'display', 'block' );
        starting = true;
        startCollectors( collectors );
      }
    } );
  } );

  $('#logging_form').submit( function() {
    popupWindow( '', 'LOGGING', '1800', '1000', 'yes', 'center' );
    this.target = 'LOGGING';
  } );
} );

function refresh() {
  oTable.fnReloadAjax();
}

function displayRefreshTime() {
  var d = new Date();
  var timestamp = ( '0' + d.getHours() ).slice(-2) + ':' + ( '0' + d.getMinutes() ).slice(-2) + ':' + ( '0' + d.getSeconds() ).slice(-2);
  $('#refreshtime').html( 'Last Refresh: ' + timestamp );
}

function installContextMenu() {
  $('#result tr').contextMenu( {
    menu: 'contextmenu'
  },
    function(action, el, pos) {
      var result = $(el).attr('id').split('|');
      var name       = result[0];
      var logfile    = result[1];
      $('#dummytrigger').attr( 'name', name );
      $('#dummytrigger').attr( 'logfile', logfile );
      $('#dummytrigger').attr( 'action', action );
      $('#modalWindow').jqmShow();
  } );
}

function installModal() {
  $('#modalWindow').jqm( {
    modal: true,
    trigger: '#dummytrigger',
    target: '#jqmContent',
    onShow:  loadInModal,
    onHide:  unloadModal
  } );
}

function loadInModal( hash ) {
  var $modal = $(hash.w);
  var name       = $('#dummytrigger').attr('name');
  var logfile    = $('#dummytrigger').attr('logfile');
  var action     = $('#dummytrigger').attr('action');

  if ( action == 'show_details' ) {
    $('#jqmTitleText').text( name );
    $modal.jqmShow();
    showDetails( name );
  }
  else if ( action == 'show_log' ) {
    $modal.jqmHide();
    showLogging( logfile );
  }
  else if ( action == 'stop' ) {
    jConfirm('Stop collector \'' + name + '\'. Are you sure?', 'Stop Collector', function(r) {
      if ( r == true ) {
          $('#jqmTitleText').text( 'stop collector' );
          $modal.jqmShow();
          $('#jqmContent').css( 'width', '600px' );
          $('#jqmContent').css( 'height', '200px' );
          $('.jqmWindow').css( 'display', 'block' );
          stopping = true;
          stopCollectors( [ { name: name, order: 0 } ] );
      }
      else {
        $modal.jqmHide();
      }
    } );
  }
  else if ( action == 'start' ) {
    jConfirm('Start collector \'' + name + '\'. Are you sure?', 'Start Collector', function(r) {
      if ( r == true ) {
          $('#jqmTitleText').text( 'start collector' );
          $modal.jqmShow();
          $('#jqmContent').css( 'width', '600px' );
          $('#jqmContent').css( 'height', '200px' );
          $('.jqmWindow').css( 'display', 'block' );
          starting = true;
          startCollectors( [ { name: name, order: 0, manual: 1 } ] );
      }
      else {
        $modal.jqmHide();
      }
    } );
  }
}

function unloadModal( hash ) {
  if ( stopping == true ) {
    jConfirm('Do you want to interrupt the stop sequence?', 'Stop Collectors', function(r) {
      if ( r == true ) {
        stopping = false;
      }
    } );
  }
  else if ( starting == true ) {
    jConfirm('Do you want to interrupt the start sequence?', 'Start Collectors', function(r) {
      if ( r == true ) {
        starting = false;
      }
    } );
  }
  hash.o.remove();
  $('#dummytrigger').attr( 'action', '' );
  $('.jqmWindow').css( 'display', 'none' );
  $('#jqmContent').html( '' );
  if ( doRefresh ) {
    doRefresh = false;
    refresh();
  }
}

function showLogging( logfile ) {
  $("#logging_path").val( logfile );
  $('#logging_form').submit();
}

function stopCollectors( collectors ) {
  var collector;
  if ( ( stopping == true ) && ( collector = collectors.pop() ) ) {
    var name = collector.name;
  
    $('#jqmContent').append( name + ' ' );
    $('#modalWindow').scrollTop(
      $('#modalWindow')[0].scrollHeight - $('#jqmContent').height()
    );

    tid1 = setInterval( displayWaitString, 300 );

    var request = $.ajax({
      type:     'POST',
      dataType: 'json',
      url:      '/mx/stop_collector.html',
      data:     { 'name': name },
      error:    function( jqXHR, textStatus, errorThrown ) {
        alert( textStatus + ': ' + errorThrown );
      }
    } );

    request.done( function( data ) {
      clearInterval(tid1);
      $('#jqmContent').append( data.message + '<br>' );
      $('#modalWindow').scrollTop(
            $('#modalWindow')[0].scrollHeight - $('#jqmContent').height()
      );
      stopCollectors( collectors );
    } );
  }
  else {
    stopping = false;
  }

  doRefresh = true;
}

function startCollectors( collectors ) {
  var collector;
  if ( ( starting == true ) && ( collector = collectors.shift() ) ) {
    var name   = collector.name;

    $('#jqmContent').append( name + ' ' );
    $('#modalWindow').scrollTop(
      $('#modalWindow')[0].scrollHeight - $('#jqmContent').height()
    );

    tid2 = setInterval( displayWaitString, 300 );

    var request = $.ajax({
      type:     'POST',
      dataType: 'json',
      url:      '/mx/start_collector.html',
      data:     { 'name': name },
      error:    function( jqXHR, textStatus, errorThrown ) {
        alert( textStatus + ': ' + errorThrown );
      }
    } );

    request.done( function( data ) {
      clearInterval(tid2);
      $('#jqmContent').append( data.message + '<br>' );
      $('#modalWindow').scrollTop(
            $('#modalWindow')[0].scrollHeight - $('#jqmContent').height()
      );
      startCollectors( collectors );
    } );
  }
  else {
    starting = false;
  }

  doRefresh = true;
}

function showDetails( name ) {
  var request = $.ajax({
    type:     'POST',
    dataType: 'json',
    url:      '/mx/collector_details2.html',
    data:     { name: name },
    error:    function( jqXHR, textStatus, errorThrown ) {
      alert( textStatus + ': ' + errorThrown );
    }
  } );

  $('#jqmContent').css( 'width', '1200px' );
  $('#jqmContent').css( 'height', '400px' );
  $('.jqmWindow').css( 'display', 'block' );

  request.done( function( data ) {
    var html = [], h = -1;

    html[++h] = '<div align=center>';
    html[++h] = '<table class="center" width="90%">';
    html[++h] = '<tr><th>NAME</th><th>VALUE</th></tr>';
    for ( var i = 0; i < data.length; i++ ) {
      html[++h] = '<tr><td class="description" width="20%" nowrap>' + data[i].name +  '</td><td>' + data[i].value + '</td></tr>';
    }
    html[++h] = '</table>';
    html[++h] = '</div>';

    $('#jqmContent')[0].innerHTML = html.join('');
  } );
}

function displayWaitString() {
  $('#jqmContent').append( '. ' );
}

function sortByOrder( a, b ) {
  var aorder = Number(a.order);
  var border = Number(b.order);
  return ( ( aorder < border ) ? -1 : ( ( aorder > border ) ? 1 : 0 ) );
}

function selectedCollectors() {
  var collectors = []; var dupes = {};
  $('table#result tbody tr.row_selected').each( function( i, row ) {
    var data = oTable.fnGetData( this );

    var el = { name: data[0], order: data[1] };

    if ( ! dupes[el.name] ) {
      dupes[el.name] = true;
      collectors.push( el );
    }
  } );

  collectors.sort( sortByOrder );

  return collectors;
}
</script>

<div id="title">Collectors on <% $ENV{MXENV} %></div>

<div style="float: left; margin-bottom: 10px;" id="refreshtime"></div>

<ul id="contextmenu" style="text-align: left;" class="contextMenu">
  <li>
    <a href="#show_details">Show Details</a>
  </li>
  <li>
    <a href="#show_log">Show Log</a>
  </li>
  <li>
    <a href="#stop" right="stop_start_collector">Stop Collector</a>
  </li>
  <li>
    <a href="#start" right="stop_start_collector">Start Collector</a>
  </li>
</ul>

<div id="dummytrigger" name="" logfile="" action=""></div>

<div id="modalWindow" class="jqmWindow" style="text-align: left;">
  <div id="jqmTitle">
    <span id="jqmTitleText"></span>
    <a href="#" class="jqmClose"><em>Close</em></a>
  </div>
  <div id="jqmContent">
  </div>
</div>

<form id="logging_form" action="/mx/logging3.html" method="post">
  <input type="hidden" name="path" id="logging_path" value="">
</form>

<p>

<table id="result">
<thead>
 <tr>
  <th>NAME</th>
  <th>ORDER</th>
  <th>LOCATION</th>
  <th>HOSTNAME</th>
  <th>STATUS</th>
  <th>DESCRIPTION</th>
  <th>PID</th>
  <th>MODEL</th>
  <th>START TIME</th>
  <th class="tiptip" title="MAX: <% $max_percent_cpu %>">% CPU</th>
  <th class="tiptip" title="MAX: <% $max_percent_mem %>">% MEM</th>
  <th class="tiptip" title="MAX: <% $max_vsize %>">VSIZE</th>
  <th>RSS</th>
  <th class="tiptip" title="MAX: <% $max_cpusec %>">CPU SEC</th>
  <th class="tiptip" title="MAX: <% $max_lwp %>"># LWP</th>
  <th class="tiptip" title="MAX: <% $max_fh %>"># FH</th>
 </tr>
</thead>
<tbody>
</tbody>
</table>

<p>

<button class="table_button" id="refresh"> Refresh </button>
<button class="table_button" id="select"> Select All </button>
<button class="table_button" id="unselect"> Unselect All </button>
<button class="table_button" id="start_selected" right="stop_start_collector"> Start Selected </button>
<button class="table_button" id="stop_selected" right="stop_start_collector"> Stop Selected </button>

<%init>
my $max_percent_cpu = "1.0";
my $max_percent_mem = "2.0";
my $max_vsize       = "3,000,000";
my $max_cpusec      = "1,000";
my $max_lwp         = "2,000";
my $max_fh          = "2,000";
</%init>
