<script type="text/javascript">
$(document).ready( function() {
  checkRights();
  installModal();
} );

function installModal() {
  $('#modalWindow').jqm( {
    modal: true,
    trigger: '#dummytrigger',
    target: '#jqmContent',
    onShow:  loadInModal,
    onHide:  unloadModal
  } );
}

function loadInModal( hash ) {
  var $modal = $(hash.w);

  $('#jqmTitleText').text( 'Change password' );
  $modal.jqmShow();
  changePassword();
}

function unloadModal( hash ) {
  hash.o.remove();
  $('.jqmWindow').css( 'display', 'none' );
  $('#jqmContent').html( '' );
}

function changePassword() {
  $('#jqmContent').css( 'width', '300px' );
  $('#jqmContent').css( 'height', '200px' );
  $('.jqmWindow').css( 'display', 'block' );

  var html = [], h = -1;
  html[++h] = '<p><div>';
  html[++h] = '<form onsubmit="submitPassword(); return false;">';
  html[++h] = '<table border=0">';
  html[++h] = '<tr><td>Enter old password:</td>';
  html[++h] = '<td><input type="password" name="old_password" id="old_password"></input></td></tr>';
  html[++h] = '<tr><td>Enter new password:</td>';
  html[++h] = '<td><input type="password" name="new_password_1" id="new_password_1"></input></td></tr>';
  html[++h] = '<tr><td>Enter new password again:</td>';
  html[++h] = '<td><input type="password" name="new_password_2" id="new_password_2"></input></td></tr>';
  html[++h] = '</table>';
  html[++h] = '<p><input type="submit" class="button" value="Submit"></input>';
  html[++h] = '</form>';
  html[++h] = '</div>';
  html[++h] = '<div style="clear: both; margin-top: 50px" id="password_feedback"></div>';

  $('#jqmContent')[0].innerHTML = html.join('');
}

function submitPassword() {
  var old_password   = $('#old_password').val();
  var new_password_1 = $('#new_password_1').val();
  var new_password_2 = $('#new_password_2').val();

  if ( old_password == '' || new_password_1 == '' || new_password_2 == '' ) {
    $('#password_feedback').html('<font color="red">empty password</font>');
    return false;
  }

  if ( new_password_1 != new_password_2 ) {
    $('#password_feedback').html('<font color="red">new passwords are different</font>');
    return false;
  }

  var request = $.ajax({
    type:     'POST',
    dataType: 'html',
    url:      '/mx/submitpassword2.html',
    data:     { 'old_password': old_password, 'new_password': new_password_1 },
    error:    function( jqXHR, textStatus, errorThrown ) {
      alert( textStatus + ': ' + errorThrown );
    }
  } );

  request.done( function( text ) {
    $('#password_feedback').html('<font color="red">' + text + '</font>');
  } );

  return false;
}
</script>

<div id="dummytrigger"></div>

<div id="modalWindow" class="jqmWindow" style="text-align: left;">
  <div id="jqmTitle">
    <span id="jqmTitleText"></span>
    <a href="#" class="jqmClose"><em>Close</em></a>
  </div>
  <div id="jqmContent">
  </div>
</div>

<table class="center_nb" width="800">
<tr>
  <td>
    Welcome to the <% $app_name %> site.
    <br><br>
    You are logged in as <B><% $m->session->{username} %></B><BR>
    <p>
% if ( $auth_replicator_type eq 'master' ) {
      <a href="#" onClick="$('#modalWindow').jqmShow();">Click here to change your password</a>
% }
    <br><br><br>
    <b><u>Important !</u></b>
    <br>
    Make sure to log out when finished.
    This will save resources on the server.
    <br><br><br><br>
  </td>
</tr>
</table>
<p>
<table class="center_nb" width="800">
  <tr><td width="20%" nowrap valign='top'>Murex Binary Version:</td><td><% $binary_version %></td></tr>
  <tr><td width="20%" nowrap valign='top'>Murex DB Version:</td><td><% $db_version->{version} %></td></tr>
  <tr><td width="20%" nowrap valign='top'>Murex DB Build:</td><td><% $db_version->{build} %></td></tr>
  <tr><td width="20%" nowrap valign='top'>Murex DB Date:</td><td><% $db_version->{timestamp} %></td></tr>
  <tr><td width="20%" nowrap valign='top'>Oracle Version:</td><td><% $oracle_version %></td></tr>
  <tr><td width="20%" nowrap valign='top'>OS Version:</td><td><% $os_version %></td></tr>
  <tr><td width="20%" nowrap valign='top'>Java Version:</td><td><% $java_version %></td></tr>
<table>

<%init>
my $binary_version = $m->cache->get( 'binary_version');
unless ( $binary_version ) {
  $binary_version = Mx::Murex->binary_version( logger => $logger, config => $config );
  $m->cache->set( binary_version => $binary_version );
}

my $db_version = $m->cache->get( 'db_version');
unless ( $db_version ) {
  my %db_version = Mx::Murex->db_version( oracle => $oracle, library => $library, logger => $logger, config => $config );
  $db_version = \%db_version;
  $m->cache->set( db_version => $db_version );
}

my $os_version = $m->cache->get( 'os_version');
unless ( $os_version ) {
  $os_version = $system->os_version();
  $m->cache->set( os_version => $os_version );
} 

my $java_version = $m->cache->get( 'java_version');
unless ( $java_version ) {
  $java_version = $system->java_version();
  $m->cache->set( java_version => $java_version );
} 

my $oracle_version = $m->cache->get( 'oracle_version');
unless ( $oracle_version ) {
  $oracle_version = $oracle->version();
  $m->cache->set( oracle_version => $oracle_version );
}

my $auth_replicator_type = $config->AUTH_REPLICATOR_TYPE;
</%init>
