<script type="text/javascript">
var $selectize_rw; var $selectize_ro;
$(document).ready( function() {
  $selectize_rw = $('.selectize_rw').selectize({
    create: true,
    plugins: [ 'remove_button' ]
  });
  $selectize_ro = $('.selectize_ro').selectize({
    plugins: [ 'remove_button' ]
  });
});

function clearForm() {
  $.each( $selectize_ro, function() { this.selectize.clear(); } );
  $.each( $selectize_ro, function() { this.selectize.refreshItems(); } );
  $.each( $selectize_rw, function() { this.selectize.clear(); } );
  $.each( $selectize_rw, function() { this.selectize.refreshItems(); } );
}
</script>

<H2>Send Message</H2>
<form onsubmit="return msubmit(this, 'send_message.html')">
  <table class="center" width="50%">
    <TR><TH>Name</TH><TH>Value</TH></TR>
    <TR>
      <TD CLASS="description"><FONT COLOR="#FFFFFF">Type </FONT></TD>
      <TD>
      <SELECT NAME="type" class="selectize_ro">
%     while ( @types ) { 
%       my $typ = shift @types;
%       my $description = shift @types;
%       my $selected = ( $typ eq $type ) ? 'SELECTED' : '';
        <OPTION <% $selected %> VALUE="<% $typ %>"><% $description %></OPTION>
%     }
      </SELECT>
      </TD>
    </TR>
    <TR>
      <TD CLASS="description"><FONT COLOR="#FFFFFF">User </FONT></TD>
      <TD>
      <SELECT NAME="username" multiple class="selectize_ro">
        <OPTION></OPTION>
%     foreach my $user ( @users ) {
%       my $selected = ( $user->name eq $username ) ? 'SELECTED' : '';
        <OPTION <% $selected %>><% $user->name %></OPTION>
%     }
      </SELECT>
      </TD>
    </TR>
    <TR>
      <TD CLASS="description"><FONT COLOR="#FFFFFF">Environment </FONT></TD>
      <TD>
      <SELECT NAME="environment" multiple class="selectize_ro">
        <OPTION></OPTION>
%     foreach my $env ( ( $ENV{MXENV} ) ) {
%       my $selected = ( $env eq $environment ) ? 'SELECTED' : '';
        <OPTION <% $selected %>><% $env %></OPTION>
%     }
      </SELECT>
      </TD>
    </TR>
    <TR>
      <TD CLASS="description"><FONT COLOR="#FFFFFF">Priority </FONT></TD>
      <TD>
      <SELECT NAME="priority" class="selectize_ro">
%     while ( @priorities ) { 
%       my $prio = shift @priorities;
%       my $description = shift @priorities;
%       my $selected = ( $prio eq $priority ) ? 'SELECTED' : '';
        <OPTION <% $selected %> VALUE="<% $prio %>"><% $description %></OPTION>
%     }
      </SELECT>
      </TD>
    </TR>
    <TR>
      <TD CLASS="description"><FONT COLOR="#FFFFFF">Message </FONT></TD>
      <TD CLASS="entryfield"><INPUT TYPE="text" NAME="message" SIZE=100 VALUE="<% $message %>"></TD>
    </TR>
  </TABLE>
  <BR>
<INPUT TYPE="submit" CLASS="table_button" right="send_message" NAME="action" VALUE=" Send ">
<INPUT TYPE="button" CLASS="table_button" VALUE=" Cancel " onClick="mgoback('home.html')">
</FORM>

<%init>
my @users      = sort { $a->name cmp $b->name } Mx::Auth::User->retrieve_all( logger => $logger, config => $config, db => $auth_db );
my @types      = ( $Mx::Message::TYPE_USER, 'user', $Mx::Message::TYPE_ENVIRONMENT, 'environment' );
my @priorities = ( $Mx::Message::PRIO_LOW, 'low', $Mx::Message::PRIO_MEDIUM, 'medium', $Mx::Message::PRIO_HIGH, 'high', $Mx::Message::PRIO_CRITICAL, 'critical' );
</%init>

<%args>
$username    => ''
$environment => ''
$type        => ''
$priority    => ''
$message     => ''
</%args>
