<script type="text/javascript">
$(document).ready( function() {
  installModal();
} );

function installModal() {
  $('#modalWindow').jqm( {
    modal: true,
    trigger: '#dummytrigger',
    target: '#jqmContent',
    onShow:  loadInModal,
    onHide:  unloadModal
  } );
}

function loadInModal( hash ) {
  var $modal = $(hash.w);
  var name   = $('#dummytrigger').attr('name');
  var jobid  = $('#dummytrigger').attr('jobid');
  var action = $('#dummytrigger').attr('action');

  if ( action == 'show_details' ) {
    $('#jqmTitleText').text( name  );
    $modal.jqmShow();
    showDetails( name );
  }
  else if ( action == 'show_stdout' ) {
    $('#jqmTitleText').text( 'job #' + jobid  );
    $modal.jqmShow();
    showSTDOUT( jobid );
  }
}

function unloadModal( hash ) {
  hash.o.remove();
  $('#dummytrigger').attr( 'action', '' );
  $('.jqmWindow').css( 'display', 'none' );
  $('#jqmContent').html( '' );
}

function showDetails( name ) {
  var request = $.ajax({
    type:     'POST',
    dataType: 'json',
    url:      '/mx/job_details2.html',
    data:     { name: name },
    error:    function( jqXHR, textStatus, errorThrown ) {
      alert( textStatus + ': ' + errorThrown );
    }
  } );

  $('#jqmContent').css( 'width', '1200px' );
  $('#jqmContent').css( 'height', '400px' );
  $('.jqmWindow').css( 'display', 'block' );

  request.done( function( data ) {
    var html = [], h = -1;

    html[++h] = '<div align=center>';
    html[++h] = '<table class="center" width="90%">';
    html[++h] = '<tr><th>NAME</th><th>VALUE</th></tr>';
    for ( var i = 0; i < data.length; i++ ) {
      html[++h] = '<tr><td class="description" width="20%" nowrap>' + data[i].name +  '</td><td>' + data[i].value + '</td></tr>';
    }
    html[++h] = '</table>';
    html[++h] = '</div>';

    $('#jqmContent')[0].innerHTML = html.join('');
  } );
}

function showSTDOUT( jobid ) {
  var request = $.ajax({
    type:     'POST',
    dataType: 'json',
    url:      '/mx/job_stdout2.html',
    data:     { 'id': jobid },
    error:    function( jqXHR, textStatus, errorThrown ) {
      alert( textStatus + ': ' + errorThrown );
    }
  } );

  $('#jqmContent').css( 'width', '1200px' );
  $('#jqmContent').css( 'height', '800px' );
  $('.jqmWindow').css( 'display', 'block' );

  request.done( function( data ) {
    if ( data.status == 'OK' ) {
      $('#jqmContent')[0].innerHTML = '<br>' + data.data;
    }
  } );
}
</script>

<H2>Jobs on <% $ENV{MXENV} %></H2>
<B>Total number of jobs: <% $nr_results %></B>
<BR>
% return unless $nr_results;
% my $first = ( $page_nr - 1 ) * $recs_per_page + 1;
% my $last  = $page_nr * $recs_per_page;
% if ( $nr_results < $last ) {
%   $last = $nr_results;
% }
<B>Displaying job <% $first %> to <% $last %></B>

<div id="dummytrigger" name="" jobid="" action=""></div>

<div id="modalWindow" class="jqmWindow" style="text-align: left;">
  <div id="jqmTitle">
    <span id="jqmTitleText"></span>
    <a href="#" class="jqmClose"><em>Close</em></a>
  </div>
  <div id="jqmContent">
  </div>
</div>

<p>

<TABLE class="center" width="50%">
  <TR>
    <TH><A HREF="#" onclick="mnavigate( 'jobs.html', { sort: 'id',           reverse: 1, <% $sort_args %> } );" STYLE="color: #FFFFFF;">ID</A></TH>
    <TH><A HREF="#" onclick="mnavigate( 'jobs.html', { sort: 'name',         reverse: 1, <% $sort_args %> } );" STYLE="color: #FFFFFF;">NAME</A></TH>
    <TH><A HREF="#" onclick="mnavigate( 'jobs.html', { sort: 'status',       reverse: 1, <% $sort_args %> } );" STYLE="color: #FFFFFF;">STATUS</A></TH>
    <TH><A HREF="#" onclick="mnavigate( 'jobs.html', { sort: 'next_runtime', reverse: 1, <% $sort_args %> } );" STYLE="color: #FFFFFF;">SCHEDULED TIME</A></TH>
    <TH><A HREF="#" onclick="mnavigate( 'jobs.html', { sort: 'starttime',    reverse: 1, <% $sort_args %> } );" STYLE="color: #FFFFFF;">START TIME</A></TH>
    <TH><A HREF="#" onclick="mnavigate( 'jobs.html', { sort: 'endtime',      reverse: 1, <% $sort_args %> } );" STYLE="color: #FFFFFF;">END TIME</A></TH>
    <TH><A HREF="#" onclick="mnavigate( 'jobs.html', { sort: 'duration',     reverse: 1, <% $sort_args %> } );" STYLE="color: #FFFFFF;">DURATION</A></TH>
    <TH><A HREF="#" onclick="mnavigate( 'jobs.html', { sort: 'exitcode',     reverse: 1, <% $sort_args %> } );" STYLE="color: #FFFFFF;">EXITCODE</A></TH>
    <TH>&nbsp;</TH>
  </TR>
% foreach my $job ( @jobs ) {
%   my $jobid = $job->[1];
  <TR ALIGN=CENTER>
    <TD><% $jobid %></TD>
    <TD><A HREF="#" onclick="$('#dummytrigger').attr( 'name', '<% $job->[2] %>' ); $('#dummytrigger').attr( 'action', 'show_details' ); $('#modalWindow').jqmShow(); "><% $job->[2] %></A></TD>
    <TD><% $job->[3] %></TD>
    <TD><% $job->[4] ? Mx::Util->convert_time( $job->[4] ) : '&nbsp;' %></TD>
    <TD><% $job->[5] ? Mx::Util->convert_time( $job->[5] ) : '&nbsp;' %></TD>
    <TD><% $job->[6] ? Mx::Util->convert_time( $job->[6] ) : '&nbsp;' %></TD>
    <TD><% scalar( Mx::Util->convert_seconds( $job->[7] ) ) %></TD>
    <TD><% $job->[8] %></TD>
    <TD style="padding-left: 2px;"><INPUT TYPE="button" CLASS="table_button" VALUE="STDOUT/STDERR" onclick="$('#dummytrigger').attr( 'jobid', <% $jobid %> ); $('#dummytrigger').attr( 'action', 'show_stdout' ); $('#modalWindow').jqmShow(); "></TD>
  </TR>
% }
</TABLE>
<BR>
% $m->comp( 'pager.comp', url => 'jobs.html', search_url => 'job_search.html', refresh => 1, sort => $sort, nr_results => $nr_results, recs_per_page => $recs_per_page, page_nr => $page_nr, where_hash => \%where_hash );

<%init>
my @columns         = qw( name status );
my @numeric_columns = qw( next_runtime starttime endtime duration exitcode );
if ( $reverse ) {
  $m->session->{jobs_reverse} = ! $m->session->{jobs_reverse};
}
my %where_hash = (); my @sort_args = (); my $sort_args = '';
foreach my $column ( @columns ) {
  if ( my $entry = $ARGS{$column} ) {
    my @values;
    if ( ref $entry eq 'ARRAY' ) {
      @values = @{$entry};
    }
    elsif ( $entry =~ /,/ ) {
      @values = split /,/, $entry;
    }
    else {
      @values = ( $entry );
    }
    foreach my $value ( @values ) {
      push @{$where_hash{$column}}, (( grep /^$column$/, @numeric_columns ) ? $value : "\"$value\"");
      push @sort_args, "$column: '$value'";
    }
  }
}
$sort_args = join ',', @sort_args;

my $result = $db_audit->retrieve_jobs( sort => { $sort => $m->session->{jobs_reverse} }, where => \%where_hash, page_nr => $page_nr, recs_per_page => $recs_per_page );
my @jobs = @{$result};
my $nr_results = @jobs ? $jobs[0][0] : 0;
</%init>

<%args>
$recs_per_page => 50
$page_nr       => 1
$sort          => 'id'
$reverse       => 0
</%args>
