<BODY>

<TABLE WIDTH=100% BORDER=0 CELLSPACING=0 CELLPADDING=0>
<TR>
<TD ALIGN=LEFT VALIGN=TOP>
  <IMG SRC="pics/logo.gif" HEIGHT="100" WIDTH="142">
</TD>
<TD ALIGN=RIGHT VALIGN=TOP>
  <H1><% $app_name %></H1>
  <H2>Logged out</H2>
</TD>
</TR>
<TR BGCOLOR="#000000"> 
<TD COLSPAN=2>
  <IMG SRC="pics/pixeltransp.gif" WIDTH=1 HEIGHT=1>
</TD>
</TR>
</TABLE>

<BR><BR><BR>

<CENTER>
<TABLE WIDTH=700 CELLPADDING=0 CELLSPACING=0 BORDER=0>
<TR>
<TD>
  Succesfully logged out of the <% $app_name %> site.
</TD>
</TR>
<TR>
<TD ALIGN=RIGHT>
 <BR><A HREF="login.html">Back To Login</A>
</TD>
</TR>
</TABLE>
</CENTER>

</BODY>

<%init>
  my $user = $m->session->{username}; 
  $m->delete_session;
  $logger->info("AUDIT: $user has logged out");
</%init>
