<body>
<div class="container_12">

  <div id="navigation" class="grid_12">
    <& navigation.comp &>
  </div>

  <div class="clear"></div>

  <div id="title" class="grid_12">
    <% $title %>
  </div>

  <div class="clear"></div>

  <div id="count" class="grid_12">
    Total number of groups: <% $nr_results %>
  </div>

  <div class="clear"></div>

  <div id="table" class="grid_12">
    <table cellspacing=1 width="100%">
    <tr>
% foreach my $column ( @displayed_columns ) {
%   my $label = $columns{$column};
      <th><a href="<% $url %>?sort=<% $column %>&reverse=1&<% $sort_args %>"><% $label %></a></th>
% }
    </tr>
% foreach my $group ( @groups ) {
%   my $id = $group->[1];
    <tr>
      <td><a class="select" href="group_details.html?id=<% $id %>"><% $group->[2] %></a></td>
      <td><% $group->[3] %></td>
      <td><% $group->[4] %></td>
    </tr>
% }
    </table>
  </div>

  <div class="clear"></div>

  <div id="actions" class="grid_8">
% if ( $page_nr > 1 ) {
%   $m->comp( '/mx/previous.comp', url => $url, sort => $sort, nr_results => $nr_results, recs_per_page => $recs_per_page, page_nr => $page_nr, where_hash => \%where_hash );
% }
% if ( $page_nr * $recs_per_page < $nr_results ) {
%   $m->comp( '/mx/next.comp', url => $url, sort => $sort, nr_results => $nr_results, recs_per_page => $recs_per_page, page_nr => $page_nr, where_hash => \%where_hash );
% }
    <form action="group_search.html" method="POST">
      <input type="submit" class="button" value=" Search ">
    </form>
    <form action="group_insert.html" method="POST">
      <input type="submit" class="button" right="auth_master" value=" Insert ">
    </form>
  </div>

  <div class="clear"></div>

  <div id="pager" class="grid_8">
% $m->comp( '/mx-auth/pager.comp', url => $url, sort => $sort, nr_results => $nr_results, recs_per_page => $recs_per_page, page_nr => $page_nr, where_hash => \%where_hash );
  </div>

</div>
</body>

<%init>
my $title = 'Groups';
my $url   = $m->current_comp->name;

my %columns = (
  name        => 'Name',
  type        => 'Type',
  description => 'Description',
  config_data => 'Config. Data',
  disabled    => 'Disabled'
);

my @displayed_columns = qw( name type description );
my @numeric_columns   = qw( id );

if ( $reverse ) {
  $m->session->{groups_reverse} = ! $m->session->{groups_reverse};
}

my %where_hash = (); my @sort_args = ();
foreach my $column ( keys %columns ) {
  if ( my $value = $ARGS{$column} ) {
    if ( $column eq 'disabled' ) {
        $value = ( $value ) ? 'Y' : 'N';
    } 
    $where_hash{$column} = ( grep /^$column$/, @numeric_columns ) ? $value : "\"$value\"";
    push @sort_args, "$column=$value";
  }
}
my $sort_args = join '&', @sort_args;

my @groups = $auth_db->retrieve_groups( sort => { $sort => $m->session->{groups_reverse} }, where => \%where_hash, page_nr => $page_nr, recs_per_page => $recs_per_page );

my $nr_results = @groups ? $groups[0][0] : 0;
</%init>

<%args>
$recs_per_page   => 50
$page_nr         => 1
$sort            => 'name'
$reverse         => 0
</%args>
