<body>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="left" valign="top">
      <img src="/mx/pics/logo.gif">
    </td>
    <td align="right" valign="top">
      <h1><% $app_name %></h1>
      <h2>Not Logged On</h2>
    </td>
  </tr>
  <tr bgcolor="#000000">
    <td colspan="2"><img src="/mx/pics/pixeltransp.gif" width="1" height="1"></td>
  </tr>
</table>

<br>
<br>
<br>

<center>
<table width="700" cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td style=" white-space: nowrap;">
      <b>A login information loss error occurred. There are two possible causes for this problem: </b>
      <br>
      <br>
      <li> You attempted to access a page directly by typing its filename into the URL field in your browser. This is not allowed. Access to the <% $app_name %> site is always initiated at the root.
      <li> A timeout occurred, causing the webserver to assume that you left the <% $app_name %> site without logging out. This happens when you don't initiate any requests on the <% $app_name %> site for more than one half hour. All changes made during this session are therefor lost.
      <br>
    </td>
  </tr>
  <tr>
  <td align="right">
    <br>
    <br>
    <a href="login.html">To Login Screen</a>
  </td>
</tr>
</table>
</center>

</body>
